In [45]:
import pandas as pd
from google.colab import files
from google.colab import drive
import io
import re

# Giving google drive permission

In [46]:
drive.mount('/drive')

Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).

In [51]:
df1 = pd.read_csv('/drive/My Drive/cs297/FeiPan_TwitterRecommender_CS297/109375565_data.csv')
df1.head()

,Unnamed: 0,conversation_id,author_id,text,referenced_tweets,lang,id,created_at,public_metrics,in_reply_to_user_id
0,0,1499172570007965697,109375565,"RT @JaneLytv: Very, very useful sanctions trac...","[{'type': 'retweeted', 'id': '1499045093856190...",en,1499172570007965697,2022-03-02T23:59:28.000Z,"{'retweet_count': 196, 'reply_count': 0, 'like...",NaN
1,1,1499172510700498944,109375565,RT @MMazarr: The shaming of Mearsheimer as a R...,"[{'type': 'retweeted', 'id': '1499128333828775...",en,1499172510700498944,2022-03-02T23:59:14.000Z,"{'retweet_count': 633, 'reply_count': 0, 'like...",NaN
2,2,1499172442098393089,109375565,RT @ryanlindley: Hey @TwitterCanada \n\nIt's t...,"[{'type': 'retweeted', 'id': '1498869745856262...",en,1499172442098393089,2022-03-02T23:58:58.000Z,"{'retweet_count': 1260, 'reply_count': 0, 'lik...",NaN
3,3,1499172413153550338,109375565,RT @TheBreakdownAB: So…\n\nIf @jkenney is argu...,"[{'type': 'retweeted', 'id': '1499170947235864...",en,1499172413153550338,2022-03-02T23:58:51.000Z,"{'retweet_count': 82, 'reply_count': 0, 'like_...",NaN
4,4,1499172374041690115,109375565,RT @ramseynicola: Alberta- removed all health ...,"[{'type': 'retweeted', 'id': '1499170376500203...",en,1499172374041690115,2022-03-02T23:58:41.000Z,"{'retweet_count': 14, 'reply_count': 0, 'like_...",NaN

In [48]:
# uploaded = files.upload()

In [49]:
# To-FIX: when calling this function, saved read_csv to df and pass df.
# df = pd.read_csv(io.BytesIO(uploaded['109375565_data.csv']))
# df

In [53]:
df2 = pd.read_csv('/drive/My Drive/cs297/FeiPan_TwitterRecommender_CS297/tweets_by_user.csv')
df2

,Unnamed: 0,lang,author_id,public_metrics,text,conversation_id,referenced_tweets,id,created_at,in_reply_to_user_id
0,0,en,109375565,"{'retweet_count': 320, 'reply_count': 0, 'like...",RT @molly0xFFF: Around fifteen researchers and...,1507437939436916737,"[{'type': 'retweeted', 'id': '1507391218082328...",1507437939436916737,2022-03-25T19:23:06.000Z,NaN
1,1,en,109375565,"{'retweet_count': 6, 'reply_count': 0, 'like_c...",RT @JoshLipnik: this reminded me of my most co...,1507437776391733251,"[{'type': 'retweeted', 'id': '1507435681307668...",1507437776391733251,2022-03-25T19:22:27.000Z,NaN
2,2,en,109375565,"{'retweet_count': 127, 'reply_count': 0, 'like...",RT @Alec_Dent: Some have claimed that Biden us...,1507437728023003136,"[{'type': 'retweeted', 'id': '1507434133844369...",1507437728023003136,2022-03-25T19:22:15.000Z,NaN
3,3,en,109375565,"{'retweet_count': 245, 'reply_count': 0, 'like...",RT @nexta_tv: A white-red-white flag was notic...,1507437645462343680,"[{'type': 'retweeted', 'id': '1507435744222187...",1507437645462343680,2022-03-25T19:21:56.000Z,NaN
4,4,en,109375565,"{'retweet_count': 6, 'reply_count': 0, 'like_c...",RT @timjudah1: I was in #Makariv...or rather t...,1507437605696073732,"[{'type': 'retweeted', 'id': '1507435883116601...",1507437605696073732,2022-03-25T19:21:46.000Z,NaN
...,...,...,...,...,...,...,...,...,...,...
495,495,en,109375565,"{'retweet_count': 148, 'reply_count': 0, 'like...","RT @rickhasen: #ELB: Breaking: Supreme Court, ...",1506677542975025152,"[{'type': 'retweeted', 'id': '1506674571772006...",1506677542975025152,2022-03-23T17:01:33.000Z,NaN
496,496,en,109375565,"{'retweet_count': 7, 'reply_count': 0, 'like_c...",RT @PGourevitch: nothing new about the overt h...,1506676655552532484,"[{'type': 'retweeted', 'id': '1506676597700673...",1506676655552532484,2022-03-23T16:58:02.000Z,NaN
497,497,en,109375565,"{'retweet_count': 10088, 'reply_count': 0, 'li...",RT @IgorKossov: According to the mayor of Irpi...,1506676292363554816,"[{'type': 'retweeted', 'id': '1506596104460288...",1506676292363554816,2022-03-23T16:56:35.000Z,NaN
498,498,en,109375565,"{'retweet_count': 10, 'reply_count': 0, 'like_...","RT @Swift01_2000: @jkenney Uh, you LOST jason....",1506676176248455170,"[{'type': 'retweeted', 'id': '1506672624335732...",1506676176248455170,2022-03-23T16:56:07.000Z,NaN
499,499,en,109375565,"{'retweet_count': 0, 'reply_count': 0, 'like_c...",@YankeeGunner It's a shame it couldn't be the ...,1506674285661806593,"[{'type': 'replied_to', 'id': '150667428566180...",1506676120300654593,2022-03-23T16:55:54.000Z,19924816.0

In [67]:
hashtags = {}
# t = re.findall(r"#(\w+)", 'srhf#LOVELIFE bvjwno#GOOUTSIDE vjwieib')
# t = re.findall(r"#(\w+)", '')
# print(t)
for i, row in df2.iterrows():
    hashtag = re.findall(r"#(\w+)", row['text'])
    if len(hashtag) > 0:
      for h in hashtag:
        if h in hashtags:
          hashtags[h] += 1;
        else:
          hashtags[h] = 1;

max_value = max(hashtags, key=hashtags.get)
print(max_value, hashtags[max_value], '\n', hashtags)

ableg 15
 {'Warsaw': 1, 'Belarusian': 1, 'Makariv': 1, 'yycwalk': 1, 'yyccc': 3, 'ableg': 15, 'visionzero': 1, 'ResignSeanChu': 2, 'AbLeg': 3, 'abpoli': 9, 'yyc': 3, 'EducationForAll': 1, 'RomanRoadsFriday': 1, 'yeg': 2, 'GodHat': 1, 'ucp': 2, 'ClarenceThomas': 1, 'polcan': 1, 'PCC': 1, 'Mariupol': 1, 'BIRTHDAY': 1, 'Abpoli': 2, 'UCP': 4, 'PtboKawartha': 1, 'cdnpoli': 8, 'TheDorkAges': 1, 'COVID19': 1, 'covid19ab': 1, 'Topping': 1, 'WomensArt': 1, 'ArtByWomen': 1, 'printing': 1, 'OTD': 1, 'American': 1, 'Kyiv': 3, 'Russian': 1, 'QP': 1, 'Ukraine': 3, 'interiordesign': 1, 'alberta': 1, 'calgary': 1, 'ucpsgm': 1, 'Election202': 1, 'ottnews': 1, 'CA': 1, 'apoli': 1, 'Kremlin': 1, 'Putin': 1, 'UkraineRussianWar': 1, 'UkraineUnderAttaсk': 1, 'SaveUkraine': 1, 'StopPutinNOW': 1, 'NFTs': 1, 'CANMNT': 1, 'facebookfail': 1, 'Ableg': 1, 'Russia': 1, 'Ottawa': 1, 'ABleg': 2, 'MeasureWhatMatters': 1, 'ELB': 1, 'CDNpoli': 1, 'ABpoli': 1, 'Kenney': 1}

In [75]:
top_hashtags = sorted(hashtags, key=hashtags.get, reverse=True)[:10]
top_hashtags
# top_hashtags = dict(sorted(hashtags.iteritems(), key=hashtags.__getitem__, reverse=True)[:20])

['ableg',
 'abpoli',
 'cdnpoli',
 'UCP',
 'yyccc',
 'AbLeg',
 'yyc',
 'Kyiv',
 'Ukraine',
 'ResignSeanChu']