In [175]:
import requests
import os
import json
import pandas as pd
import time
from google.colab import drive

TO FIX (HIDE THE KEY)

In [176]:
# export 'BEARER_TOKEN'='<your_bearer_token>'
# bearer_token = os.environ.get("BEARER_TOKEN")
bearer_token = 'AAAAAAAAAAAAAAAAAAAAAIxjZAEAAAAAIktbOv%2Fsv8GGGPhOoY1ZfcmCCik%3DaK1do3V6O' \
               'yehB2URtPahKgjbtgKUhq4B8T72kMt3yxnrVEYUeU'

In [177]:
def create_url(user_id, start_date, end_date, next_token, max_results):
    search_url = "https://api.twitter.com/2/users/{}/tweets".format(user_id)

    query_params = {
                    'start_time': start_date,
                    'end_time': end_date,
                    'max_results': max_results,
                    'tweet.fields': 'author_id,id,created_at,lang,text,public_metrics,referenced_tweets,'
                                    'in_reply_to_user_id,conversation_id',
                    'user.fields': 'id,name,username,description,verified',
                    # 'expansions': 'author_id,in_reply_to_user_id,geo.place_id',
                    # 'place.fields': 'full_name,id,country,country_code,geo,name,place_type',
                    'pagination_token': next_token}
    return search_url, query_params

In [178]:
def create_header(bearer_token):
    headers = {"Authorization": f"Bearer {bearer_token}"}
    # r.headers["User-Agent"] = "v2UserTweetsPython"
    return headers

In [179]:
def connect_to_endpoint(url, headers, params, next_token=None):
    if not next_token:
        params['pagination_token'] = next_token
    # print(params)
    # print(headers)
    response = requests.request("GET", url, headers=headers, params=params)
    print(response.status_code)
    if response.status_code != 200:
        raise Exception(
            "Request returned an error: {} {}".format(
                response.status_code, response.text
            )
        )
    return response.json()

In [180]:
def main():
    # user_id_lst = []
    # user_id_lst.append('109375565')
    start_lst = ['2022-03-01T00:00:00.000Z',
                  '2022-02-01T00:00:00.000Z',
                  '2022-01-01T00:00:00.000Z']

    end_lst = ['2022-04-01T00:00:00.000Z',
                '2022-03-01T00:00:00.000Z',
                '2022-02-01T00:00:00.000Z']
    user_id = '109375565'
    # start_date = '2022-01-01T00:00:00.000Z'
    # end_date = '2022-03-25T00:00:00.000Z'

    max_results = 100
    total_tweets = 0
    max_request = 5    # max 450 requests per 15mins
    request = 0
    flag = True
    sleep_time = 60*15
    df = pd.DataFrame()
    next_token = None
    headers = create_header(bearer_token)

    while flag:
        for i in range(len(start_lst)):
            next_token = None
            count = 0
            for j in range(max_request):
                url, params = create_url(user_id, start_lst[i], end_lst[i], next_token, max_results)
                json_response = connect_to_endpoint(url, headers, params, next_token)
                request += 1
                # print(json.dumps(json_response, indent=4, sort_keys=True))
                if json_response['meta']['result_count'] == 0:
                    print('No data found between ', start_lst[i], ' and ', end_lst[i])
                    break
                if df.empty:
                  df = pd.DataFrame(json_response['data'])
                else:
                  df = df.append(pd.DataFrame(json_response['data']), ignore_index=True)
                # print('**************************************************\n',df.shape, '\n',df)
                result_count = json_response['meta']['result_count']
                next_token = json_response['meta']['next_token']
                count += result_count
                total_tweets += result_count
                print('Data between ', start_lst[i], ' and ', end_lst[i], ': request ', result_count, ', total tweets:', total_tweets)

                if request >= 450:
                    print('sleeping...')
                    time.sleep(sleep_time)
                if not next_token:
                    flag = False
                    print('next token is None')
                    break
        flag = False

    drive.mount('/drive')    
    df.to_csv('/drive/My Drive/cs297/FeiPan_TwitterRecommender_CS297/tweets_by_user.csv')
    print(df)

In [181]:
if __name__ == "__main__":
    main()

200
Data between  2022-03-01T00:00:00.000Z  and  2022-04-01T00:00:00.000Z : request  100 , total tweets: 100
200
Data between  2022-03-01T00:00:00.000Z  and  2022-04-01T00:00:00.000Z : request  100 , total tweets: 200
200
Data between  2022-03-01T00:00:00.000Z  and  2022-04-01T00:00:00.000Z : request  100 , total tweets: 300
200
Data between  2022-03-01T00:00:00.000Z  and  2022-04-01T00:00:00.000Z : request  100 , total tweets: 400
200
Data between  2022-03-01T00:00:00.000Z  and  2022-04-01T00:00:00.000Z : request  100 , total tweets: 500
200
No data found between  2022-02-01T00:00:00.000Z  and  2022-03-01T00:00:00.000Z
200
No data found between  2022-01-01T00:00:00.000Z  and  2022-02-01T00:00:00.000Z
Drive already mounted at /drive; to attempt to forcibly remount, call drive.mount("/drive", force_remount=True).
    lang  author_id                                     public_metrics  \
0     en  109375565  {'retweet_count': 320, 'reply_count': 0, 'like...
1     en  109375565  {'retweet_count': 6, 'reply_count': 0, 'like_c...
2     en  109375565  {'retweet_count': 127, 'reply_count': 0, 'like...
3     en  109375565  {'retweet_count': 245, 'reply_count': 0, 'like...
4     en  109375565  {'retweet_count': 6, 'reply_count': 0, 'like_c...
..   ...        ...                                                ...
495   en  109375565  {'retweet_count': 148, 'reply_count': 0, 'like...
496   en  109375565  {'retweet_count': 7, 'reply_count': 0, 'like_c...
497   en  109375565  {'retweet_count': 10088, 'reply_count': 0, 'li...
498   en  109375565  {'retweet_count': 10, 'reply_count': 0, 'like_...
499   en  109375565  {'retweet_count': 0, 'reply_count': 0, 'like_c...

                                                  text      conversation_id  \
0    RT @molly0xFFF: Around fifteen researchers and...  1507437939436916737
1    RT @JoshLipnik: this reminded me of my most co...  1507437776391733251
2    RT @Alec_Dent: Some have claimed that Biden us...  1507437728023003136
3    RT @nexta_tv: A white-red-white flag was notic...  1507437645462343680
4    RT @timjudah1: I was in #Makariv...or rather t...  1507437605696073732
..                                                 ...                  ...
495  RT @rickhasen: #ELB: Breaking: Supreme Court, ...  1506677542975025152
496  RT @PGourevitch: nothing new about the overt h...  1506676655552532484
497  RT @IgorKossov: According to the mayor of Irpi...  1506676292363554816
498  RT @Swift01_2000: @jkenney Uh, you LOST jason....  1506676176248455170
499  @YankeeGunner It's a shame it couldn't be the ...  1506674285661806593

                                     referenced_tweets                   id  \
0    [{'type': 'retweeted', 'id': '1507391218082328...  1507437939436916737
1    [{'type': 'retweeted', 'id': '1507435681307668...  1507437776391733251
2    [{'type': 'retweeted', 'id': '1507434133844369...  1507437728023003136
3    [{'type': 'retweeted', 'id': '1507435744222187...  1507437645462343680
4    [{'type': 'retweeted', 'id': '1507435883116601...  1507437605696073732
..                                                 ...                  ...
495  [{'type': 'retweeted', 'id': '1506674571772006...  1506677542975025152
496  [{'type': 'retweeted', 'id': '1506676597700673...  1506676655552532484
497  [{'type': 'retweeted', 'id': '1506596104460288...  1506676292363554816
498  [{'type': 'retweeted', 'id': '1506672624335732...  1506676176248455170
499  [{'type': 'replied_to', 'id': '150667428566180...  1506676120300654593

                   created_at in_reply_to_user_id
0    2022-03-25T19:23:06.000Z                 NaN
1    2022-03-25T19:22:27.000Z                 NaN
2    2022-03-25T19:22:15.000Z                 NaN
3    2022-03-25T19:21:56.000Z                 NaN
4    2022-03-25T19:21:46.000Z                 NaN
..                        ...                 ...
495  2022-03-23T17:01:33.000Z                 NaN
496  2022-03-23T16:58:02.000Z                 NaN
497  2022-03-23T16:56:35.000Z                 NaN
498  2022-03-23T16:56:07.000Z                 NaN
499  2022-03-23T16:55:54.000Z            19924816

[500 rows x 9 columns]